<section class="experience" id="experience">
  <div class="experience__container">
    <h2 class="experience__title">Experiencia</h2>
  </div>
</section>
<style lang="scss">
  @use "../../scss/_mixins.scss" as *;

  .experience {
    padding-block: 10rem;

    &__container {
      @include container;
    }

    &__title {
      font-size: 2.2em;
      font-weight: bold;
    }
  }
</style>
