---
import { Image } from "astro:assets";
import Devdatep from "@assets/devdatep.webp";
---

<section class="experience" id="experience">
  <div class="experience__container">
    <h2 class="experience__title">Experiencia</h2>
    <section class="card">
      <header class="card__header">
        <Image src={Devdatep} alt="logo de Devdatep" class="card__image" />
        <p class="card__title">Devdatep Consulting</p>
        <p class="card__date">Diciembre 2023 - Mayo 2024</p>
      </header>
      <ul class="list">
        <li class="list__element">
          Desarrollo de <span class="list__element--color"
            >aplicaciones web</span
          >, utilizando diversas tecnologías frontend.
        </li>
        <li class="list__element">
          Implementación de <span class="list__element--color"
            >diseño responsivo</span
          > en páginas web.
        </li>
        <li class="list__element">
          Establecimiento de <span class="list__element--color"
            >estructuras de proyecto</span
          > optimizadas.
        </li>
        <li class="list__element">
          <span class="list__element--color">Revisión de código</span> y provisión
          de retroalimentación constructiva.
        </li>
        <li class="list__element">
          Supervisión de tareas y <span class="list__element--color"
            >asignación de responsabilidades</span
          > dentro del equipo.
        </li>
        <li class="list__element">
          <span class="list__element--color">Gestión del repositorio</span>,
          garantizando un flujo de trabajo fluido.
        </li>
      </ul>
    </section>
  </div>
</section>
<style lang="scss">
  @use "../../scss/_mixins.scss" as *;

  .experience {
    padding-block: 10rem;

    &__container {
      @include container;
    }

    &__title {
      font-size: 2.2em;
      font-weight: bold;
      text-align: center;
      padding-bottom: 1.4em;
    }
  }

  .card {
    border: white solid 1.5px;
    border-radius: 10px;
    padding: 1.8em 1.5em;
    width: 90%;
    max-width: 95ch;
    margin-inline: auto;
    display: grid;
    gap: 0.8em;
    background-color: rgba(255, 255, 255, 0.04);

    &__header {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      width: fit-content;
      gap: 0 0.5em;
    }

    &__title {
      font-size: 1.4em;
    }

    &__image {
      grid-row: 1 / span 2;
      margin-bottom: 4px;
    }

    &__date {
      font-size: 0.9em;
    }

    & p:first-of-type {
      font-weight: bold;
      align-self: end;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
  }

  .list__element {
    margin-left: 2em;
    list-style-type: circle;
    line-height: 1.4;

    &--color {
      color: #d16ba5;
    }
  }
</style>
