---
import Layout from "../layouts/Layout.astro";
import Header from "../shared/header/Header.astro";
import Hero from "../sections/hero/Hero.astro";
import Experience from "../sections/experience/Experience.astro";
---

<Layout title="Portafolio Sebastian Llamuca">
  <Header />
  <main>
    <Hero />
    <Experience />
  </main>
</Layout>
