---
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro'
import Hero from "../sections/Hero.astro";
---

<Layout title="Portafolio Sebastian Llamuca">
  <Header/>
  <main>
    <Hero/>
  </main>
</Layout>

<style lang="scss" is:global>
  section {
    padding-top: 96.98px;
  }
</style>
<!-- #8d8d8d -->