---
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro'
---

<Layout title="Portafolio Sebastian Llamuca">
  <Header/>
  <main>
  </main>
</Layout>

<style lang="scss"></style>
